{
  "openapi": "3.0.3",
  "info": {
    "title": "KRAIL-CONFIG Schema API",
    "version": "1.0.0",
    "description": "API for accessing KRAIL-CONFIG schemas including festivals and notices. Each schema type has its own endpoint for better organization.",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "servers": [
    {
      "url": "https://api.krail.app",
      "description": "Production server"
    }
  ],
  "paths": {
    "/festivals": {
      "get": {
        "summary": "Get festivals schema",
        "description": "Retrieve the festivals schema with structure and examples",
        "operationId": "getFestivals",
        "security": [],
        "responses": {
          "200": {
            "description": "Successfully retrieved festivals schema",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/festivals"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Schema not found"
          }
        }
      }
    },
    "/info_tiles": {
      "get": {
        "summary": "Get info_tiles schema",
        "description": "Retrieve the info_tiles schema with structure and examples",
        "operationId": "getInfo_tiles",
        "security": [],
        "responses": {
          "200": {
            "description": "Successfully retrieved info_tiles schema",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/info_tiles"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Schema not found"
          }
        }
      }
    },
    "/notice": {
      "get": {
        "summary": "Get notice schema",
        "description": "Retrieve the notice schema with structure and examples",
        "operationId": "getNotice",
        "security": [],
        "responses": {
          "200": {
            "description": "Successfully retrieved notice schema",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/notice"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Schema not found"
          }
        }
      }
    },
    "/park_ride_facilities": {
      "get": {
        "summary": "Get park_ride_facilities schema",
        "description": "Retrieve the park_ride_facilities schema with structure and examples",
        "operationId": "getPark_ride_facilities",
        "security": [],
        "responses": {
          "200": {
            "description": "Successfully retrieved park_ride_facilities schema",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/park_ride_facilities"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Schema not found"
          }
        }
      }
    },
    "/whats_on_sydney": {
      "get": {
        "summary": "Get whats_on_sydney schema",
        "description": "Retrieve the whats_on_sydney schema with structure and examples",
        "operationId": "getWhats_on_sydney",
        "security": [],
        "responses": {
          "200": {
            "description": "Successfully retrieved whats_on_sydney schema",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/whats_on_sydney"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Schema not found"
          }
        }
      }
    },
    "/schemas": {
      "get": {
        "summary": "List all schemas",
        "description": "Retrieve all available schemas with their structure and examples",
        "operationId": "listAllSchemas",
        "security": [],
        "responses": {
          "200": {
            "description": "Successfully retrieved all schemas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "festivals": {
                      "$ref": "#/components/schemas/festivals"
                    },
                    "info_tiles": {
                      "$ref": "#/components/schemas/info_tiles"
                    },
                    "notice": {
                      "$ref": "#/components/schemas/notice"
                    },
                    "park_ride_facilities": {
                      "$ref": "#/components/schemas/park_ride_facilities"
                    },
                    "whats_on_sydney": {
                      "$ref": "#/components/schemas/whats_on_sydney"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "festivals": {
        "type": "object",
        "required": [
          "confirmedDates"
        ],
        "properties": {
          "confirmedDates": {
            "type": "array",
            "description": "List of festivals with fixed dates",
            "items": {
              "type": "object",
              "required": [
                "type",
                "month",
                "day",
                "greeting"
              ],
              "properties": {
                "type": {
                  "type": "string",
                  "description": "Festival type identifier"
                },
                "month": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 12,
                  "description": "Month (1-12)"
                },
                "day": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 31,
                  "description": "Day of month (1-31)"
                },
                "emojiList": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "List of emojis"
                },
                "greeting": {
                  "type": "string",
                  "description": "Greeting message"
                }
              }
            }
          },
          "variableDates": {
            "type": "array",
            "description": "List of festivals with variable dates",
            "items": {
              "type": "object",
              "required": [
                "type",
                "startDate",
                "endDate",
                "greeting"
              ],
              "properties": {
                "type": {
                  "type": "string",
                  "description": "Festival type identifier"
                },
                "startDate": {
                  "type": "string",
                  "format": "date",
                  "description": "Start date"
                },
                "endDate": {
                  "type": "string",
                  "format": "date",
                  "description": "End date"
                },
                "emojiList": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "List of emojis"
                },
                "greeting": {
                  "type": "string",
                  "description": "Greeting message"
                }
              }
            }
          }
        },
        "description": "Schema for festivals",
        "example": {
          "confirmedDates": [
            {
              "type": "CHRISTMAS",
              "month": 12,
              "day": 25,
              "emojiList": [
                "🎄",
                "🎅"
              ],
              "greeting": "Merry Christmas"
            },
            {
              "type": "NEW_YEAR",
              "month": 1,
              "day": 1,
              "emojiList": [
                "🎉"
              ],
              "greeting": "Happy New Year"
            },
            {
              "type": "NEW_YEAR_EVE",
              "month": 12,
              "day": 31,
              "emojiList": [
                "🎆"
              ],
              "greeting": "New Year's Eve"
            },
            {
              "type": "ANZAC_DAY",
              "month": 4,
              "day": 25,
              "emojiList": [
                "🌺",
                "🇦🇺",
                "🎖️"
              ],
              "greeting": "Lest we forget"
            },
            {
              "type": "HALLOWEEN",
              "month": 10,
              "day": 31,
              "emojiList": [
                "🎃",
                "👻"
              ],
              "greeting": "Spooktacular vibes only!"
            },
            {
              "type": "ROSE_DAY",
              "month": 2,
              "day": 7,
              "emojiList": [
                "🌹"
              ],
              "greeting": "Rose Day"
            },
            {
              "type": "PROPOSE_DAY",
              "month": 2,
              "day": 8,
              "emojiList": [
                "💍",
                "💞",
                "💌"
              ],
              "greeting": "Propose Day"
            },
            {
              "type": "CHOCOLATE_DAY",
              "month": 2,
              "day": 9,
              "emojiList": [
                "🍫",
                "💞"
              ],
              "greeting": "Chocolate Day"
            },
            {
              "type": "TEDDY_DAY",
              "month": 2,
              "day": 10,
              "emojiList": [
                "🧸"
              ],
              "greeting": "Teddy Day"
            },
            {
              "type": "PROMISE_DAY",
              "month": 2,
              "day": 11,
              "emojiList": [
                "🤝"
              ],
              "greeting": "Promise Day"
            },
            {
              "type": "HUG_DAY",
              "month": 2,
              "day": 12,
              "emojiList": [
                "🤗"
              ],
              "greeting": "Hug Day"
            },
            {
              "type": "KISS_DAY",
              "month": 2,
              "day": 13,
              "emojiList": [
                "😘"
              ],
              "greeting": "Kiss Day"
            },
            {
              "type": "VALENTINES_DAY",
              "month": 2,
              "day": 14,
              "emojiList": [
                "❤️",
                "🌹"
              ],
              "greeting": "Love is in the air"
            },
            {
              "type": "AUSTRALIA_DAY",
              "month": 1,
              "day": 26,
              "emojiList": [
                "🇦🇺",
                "🎉",
                "🎆"
              ],
              "greeting": "Australia Day"
            },
            {
              "type": "WOMENS_DAY",
              "month": 3,
              "day": 8,
              "emojiList": [
                "💜",
                "♀️",
                "👩",
                "👩‍🚀",
                "👩‍🚒",
                "👩‍✈️"
              ],
              "greeting": "International Women's Day"
            },
            {
              "type": "MENS_DAY",
              "month": 11,
              "day": 19,
              "emojiList": [
                "💙",
                "♂️",
                "🚹",
                "👨‍🚒",
                "👨‍🌾",
                "👨‍🚀"
              ],
              "greeting": "International Men's Day"
            },
            {
              "type": "ENGINEERS_DAY",
              "month": 9,
              "day": 15,
              "emojiList": [
                "⚙️",
                "🔧"
              ],
              "greeting": "Engineers Day"
            },
            {
              "type": "NURSES_DAY",
              "month": 5,
              "day": 12,
              "emojiList": [
                "🏥",
                "🩺"
              ],
              "greeting": "Nurses Day"
            },
            {
              "type": "FRIENDSHIP_DAY",
              "month": 8,
              "day": 3,
              "emojiList": [
                "🤝",
                "💛"
              ],
              "greeting": "Friendship Day"
            },
            {
              "type": "PEACE_DAY",
              "month": 9,
              "day": 21,
              "emojiList": [
                "☮️",
                "✌️"
              ],
              "greeting": "International Peace Day"
            },
            {
              "type": "A11Y_DAY",
              "month": 5,
              "day": 16,
              "emojiList": [
                "♿️"
              ],
              "greeting": "Global Accessibility Awareness Day"
            },
            {
              "type": "PI_DAY",
              "month": 3,
              "day": 14,
              "emojiList": [
                "🥧",
                "π"
              ],
              "greeting": "Pi Day"
            },
            {
              "type": "INTERNATIONAL_YOGA_DAY",
              "month": 6,
              "day": 21,
              "emojiList": [
                "🧘",
                "🧘‍♀️",
                "🧘‍♂️",
                "🕉️"
              ],
              "greeting": "International Yoga Day"
            },
            {
              "type": "WORLD_ENVIRONMENT_DAY",
              "month": 6,
              "day": 5,
              "emojiList": [
                "🌍",
                "🌱",
                "🌳"
              ],
              "greeting": "World Environment Day"
            },
            {
              "type": "MENTAL_HEALTH_DAY",
              "month": 10,
              "day": 10,
              "emojiList": [
                "🧠"
              ],
              "greeting": "World Mental Health Day"
            },
            {
              "type": "WORLD_OCEANS_DAY",
              "month": 6,
              "day": 8,
              "emojiList": [
                "🌊",
                "🐬",
                "🐠"
              ],
              "greeting": "World Oceans Day"
            },
            {
              "type": "STAR_WARS_DAY",
              "month": 5,
              "day": 4,
              "emojiList": [
                "🌌",
                "🚀",
                "⚔️",
                "🪐"
              ],
              "greeting": "May the Force Ride With You"
            },
            {
              "type": "MARIO_DAY",
              "month": 3,
              "day": 10,
              "emojiList": [
                "🍄",
                "🎮"
              ],
              "greeting": "It's-a me, Mario! Let's-a go! 🍄"
            },
            {
              "type": "HOBBIT_DAY",
              "month": 9,
              "day": 22,
              "emojiList": [
                "🧙",
                "🍄",
                "🌋"
              ],
              "greeting": "Happy Hobbit Day"
            },
            {
              "type": "HARRY_POTTER_DAY",
              "month": 5,
              "day": 2,
              "emojiList": [
                "🪄",
                "🧙‍♂️",
                "⚡️"
              ],
              "greeting": "Hop on Platform 9¾ — Magic Awaits!"
            },
            {
              "type": "POKEMON_DAY",
              "month": 2,
              "day": 27,
              "emojiList": [
                "🎮",
                "🧢",
                "⚡️"
              ],
              "greeting": "Gotta Catch 'Em All"
            },
            {
              "type": "BARBIE_DAY",
              "month": 3,
              "day": 9,
              "emojiList": [
                "👠",
                "💖",
                "👗",
                "🎀"
              ],
              "greeting": "Be anything. Go everywhere. 💖"
            },
            {
              "type": "TEACHERS_DAY",
              "month": 9,
              "day": 5,
              "emojiList": [
                "👩‍🏫",
                "👨‍🏫",
                "📚"
              ],
              "greeting": "Happy Teachers' Day"
            },
            {
              "type": "WORLD_EMOJI_DAY",
              "month": 7,
              "day": 17,
              "emojiList": [
                "😎",
                "🤩",
                "🔥"
              ],
              "greeting": "World Emoji Day"
            },
            {
              "type": "INTERNATIONAL_CAT_DAY",
              "month": 8,
              "day": 8,
              "emojiList": [
                "😸",
                "😻"
              ],
              "greeting": "Purrfect day to ride"
            },
            {
              "type": "INTERNATIONAL_DOG_DAY",
              "month": 8,
              "day": 26,
              "emojiList": [
                "🐶",
                "🐾",
                "🦴"
              ],
              "greeting": "International Dog Day"
            },
            {
              "type": "TAYLOR_SWIFT_DAY",
              "month": 12,
              "day": 13,
              "emojiList": [
                "🎤",
                "🎶",
                "🩷"
              ],
              "greeting": "Happy Taylor Swift Day"
            }
          ],
          "variableDates": [
            {
              "type": "EASTER",
              "startDate": "2026-04-05",
              "endDate": "2026-04-05",
              "emojiList": [
                "🐰",
                "🐣",
                "🥚"
              ],
              "greeting": "Happy Easter"
            },
            {
              "type": "EID",
              "startDate": "2026-03-19",
              "endDate": "2026-03-20",
              "emojiList": [
                "🌙",
                "🕌"
              ],
              "greeting": "Eid Mubarak!"
            },
            {
              "type": "CHINESE_NEW_YEAR",
              "startDate": "2026-02-17",
              "endDate": "2026-03-03",
              "emojiList": [
                "🧧"
              ],
              "greeting": "Chinese New Year"
            },
            {
              "type": "VIVID_SYDNEY",
              "startDate": "2026-05-22",
              "endDate": "2026-06-13",
              "emojiList": [
                "🎆",
                "🌈",
                "🌟",
                "✨"
              ],
              "greeting": "Vivid Sydney"
            },
            {
              "type": "MARDI_GRAS",
              "startDate": "2026-02-13",
              "endDate": "2026-03-01",
              "emojiList": [
                "🏳️‍🌈",
                "🪩",
                "🌈"
              ],
              "greeting": "Happy Mardi Gras"
            },
            {
              "type": "NAIDOC_WEEK",
              "startDate": "2025-07-06",
              "endDate": "2025-07-13",
              "emojiList": [
                "🖤",
                "💛",
                "❤️"
              ],
              "greeting": "NAIDOC Week"
            },
            {
              "type": "HOLI",
              "startDate": "2025-03-14",
              "endDate": "2025-03-14",
              "emojiList": [
                "🌈",
                "🫧",
                "🎈"
              ],
              "greeting": "Happy Holi"
            },
            {
              "type": "MELBOURNE_CUP",
              "startDate": "2025-11-04",
              "endDate": "2025-11-04",
              "emojiList": [
                "🐎",
                "💸"
              ],
              "greeting": "Melbourne Cup Day"
            },
            {
              "type": "RECONCILIATION_WEEK",
              "startDate": "2026-05-27",
              "endDate": "2026-06-03",
              "emojiList": [
                "🪃",
                "🖤",
                "💛",
                "❤️"
              ],
              "greeting": "Reconciliation Week"
            }
          ]
        }
      },
      "info_tiles": {
        "type": "array",
        "items": {
          "type": "object",
          "required": [
            "key",
            "title",
            "description",
            "type"
          ],
          "properties": {
            "key": {
              "type": "string"
            },
            "title": {
              "type": "string"
            },
            "description": {
              "type": "string"
            },
            "type": {
              "type": "string",
              "enum": [
                "APP_UPDATE",
                "INFO",
                "CRITICAL_ALERT"
              ]
            },
            "dismissCtaText": {
              "type": "string"
            },
            "endDate": {
              "type": "string",
              "format": "date"
            },
            "primaryCta": {
              "type": "object",
              "required": [
                "text",
                "url"
              ],
              "properties": {
                "text": {
                  "type": "string"
                },
                "url": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          }
        },
        "description": "Schema for info_tiles",
        "example": [
          {
            "key": "update_2024",
            "title": "App Update Available",
            "description": "A new version of the app is available. Update now for new features.",
            "type": "APP_UPDATE",
            "dismissCtaText": "Dismiss",
            "primaryCta": {
              "text": "Update",
              "url": "https://example.com/app"
            }
          },
          {
            "key": "info_001",
            "title": "Welcome!",
            "description": "Thanks for installing our app.",
            "type": "INFO",
            "dismissCtaText": "Dismiss",
            "endDate": "2025-09-01",
            "primaryCta": {
              "text": "Learn More",
              "url": "https://example.com/welcome"
            }
          },
          {
            "key": "critical_01",
            "title": "Security Alert",
            "description": "Please update your app immediately.",
            "type": "CRITICAL_ALERT"
          }
        ]
      },
      "notice": {
        "type": "object",
        "required": [
          "noticeList"
        ],
        "properties": {
          "noticeList": {
            "type": "array",
            "description": "List of notice items",
            "items": {
              "type": "object",
              "required": [
                "title",
                "description",
                "imageUrl"
              ],
              "properties": {
                "title": {
                  "type": "string",
                  "description": "Notice title"
                },
                "description": {
                  "type": "string",
                  "description": "Notice description"
                },
                "imageUrl": {
                  "type": "string",
                  "format": "uri",
                  "description": "Image URL"
                },
                "buttons": {
                  "type": "array",
                  "description": "action buttons",
                  "items": {
                    "type": "object",
                    "required": [
                      "type"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "CTA",
                          "SHARE",
                          "FEEDBACK",
                          "SOCIAL"
                        ],
                        "description": "Button type"
                      },
                      "text": {
                        "type": "string",
                        "description": "Button text (required for CTA)"
                      },
                      "url": {
                        "type": "string",
                        "format": "uri",
                        "description": "Button URL (required for CTA and SHARE)"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Schema for notice",
        "example": {
          "noticeList": [
            {
              "title": "Card Title",
              "description": "Card description goes here.",
              "imageUrl": "https://example.com/image.jpg",
              "buttons": [
                {
                  "type": "CTA",
                  "text": "Learn More",
                  "url": "https://example.com/learn"
                },
                {
                  "type": "SHARE",
                  "url": "https://example.com/share"
                }
              ]
            },
            {
              "title": "Card with Feedback",
              "description": "Feedback example.",
              "imageUrl": "https://example.com/image2.jpg",
              "buttons": [
                {
                  "type": "FEEDBACK"
                }
              ]
            },
            {
              "title": "Card with Social",
              "description": "Social example.",
              "imageUrl": "https://example.com/image3.jpg",
              "buttons": [
                {
                  "type": "SOCIAL"
                }
              ]
            },
            {
              "title": "Card Title",
              "description": "Card description goes here.",
              "imageUrl": "https://example.com/image.jpg",
              "buttons": [
                {
                  "type": "CTA",
                  "text": "Learn More",
                  "url": "https://example.com/learn"
                }
              ]
            },
            {
              "title": "Card Title",
              "description": "Card description goes here.",
              "imageUrl": "https://example.com/image.jpg"
            }
          ]
        }
      },
      "park_ride_facilities": {
        "type": "array",
        "description": "Schema for park_ride_facilities",
        "items": {
          "type": "object",
          "required": [
            "stopId",
            "parkRideFacilityId",
            "parkRideName"
          ],
          "properties": {
            "stopId": {
              "type": "string",
              "description": "Unique identifier for the transit stop",
              "pattern": "^[0-9]+$"
            },
            "parkRideFacilityId": {
              "type": "string",
              "description": "Unique identifier for the park and ride facility",
              "pattern": "^[0-9]+$"
            },
            "parkRideName": {
              "type": "string",
              "description": "Display name of the park and ride facility",
              "minLength": 1
            }
          }
        },
        "minItems": 1,
        "uniqueItems": true,
        "example": [
          {
            "stopId": "213110",
            "parkRideFacilityId": "486",
            "parkRideName": "Ashfield"
          },
          {
            "stopId": "2153478",
            "parkRideFacilityId": "31",
            "parkRideName": "Bella Vista"
          },
          {
            "stopId": "220910",
            "parkRideFacilityId": "35",
            "parkRideName": "Beverly Hills"
          },
          {
            "stopId": "210017",
            "parkRideFacilityId": "490",
            "parkRideName": "Brookvale"
          },
          {
            "stopId": "256020",
            "parkRideFacilityId": "19",
            "parkRideName": "Campbelltown Farrow Rd (north)"
          },
          {
            "stopId": "256020",
            "parkRideFacilityId": "20",
            "parkRideName": "Campbelltown Hurley St"
          },
          {
            "stopId": "2126158",
            "parkRideFacilityId": "33",
            "parkRideName": "Cherrybrook"
          },
          {
            "stopId": "209913",
            "parkRideFacilityId": "13",
            "parkRideName": "Dee Why"
          },
          {
            "stopId": "217426",
            "parkRideFacilityId": "17",
            "parkRideName": "Edmondson Park (south)"
          },
          {
            "stopId": "275020",
            "parkRideFacilityId": "36",
            "parkRideName": "Emu Plains"
          },
          {
            "stopId": "207210",
            "parkRideFacilityId": "6",
            "parkRideName": "Gordon Henry St (north)"
          },
          {
            "stopId": "225041",
            "parkRideFacilityId": "8",
            "parkRideName": "Gosford"
          },
          {
            "stopId": "225040",
            "parkRideFacilityId": "8",
            "parkRideName": "Gosford"
          },
          {
            "stopId": "2154392",
            "parkRideFacilityId": "32",
            "parkRideName": "Hills Showground"
          },
          {
            "stopId": "207720",
            "parkRideFacilityId": "25",
            "parkRideName": "Hornsby"
          },
          {
            "stopId": "207763",
            "parkRideFacilityId": "25",
            "parkRideName": "Hornsby"
          },
          {
            "stopId": "2155382",
            "parkRideFacilityId": "29",
            "parkRideName": "Kellyville (north)"
          },
          {
            "stopId": "2155382",
            "parkRideFacilityId": "30",
            "parkRideName": "Kellyville (south)"
          },
          {
            "stopId": "253330",
            "parkRideFacilityId": "7",
            "parkRideName": "Kiama"
          },
          {
            "stopId": "221710",
            "parkRideFacilityId": "487",
            "parkRideName": "Kogarah"
          },
          {
            "stopId": "217933",
            "parkRideFacilityId": "16",
            "parkRideName": "Leppington"
          },
          {
            "stopId": "207010",
            "parkRideFacilityId": "34",
            "parkRideName": "Lindfield Village Green"
          },
          {
            "stopId": "209325",
            "parkRideFacilityId": "489",
            "parkRideName": "Manly Vale"
          },
          {
            "stopId": "209324",
            "parkRideFacilityId": "489",
            "parkRideName": "Manly Vale"
          },
          {
            "stopId": "2103108",
            "parkRideFacilityId": "12",
            "parkRideName": "Mona Vale"
          },
          {
            "stopId": "210318",
            "parkRideFacilityId": "12",
            "parkRideName": "Mona Vale"
          },
          {
            "stopId": "210115",
            "parkRideFacilityId": "11",
            "parkRideName": "Narrabeen"
          },
          {
            "stopId": "275075",
            "parkRideFacilityId": "21",
            "parkRideName": "Penrith (at-grade)"
          },
          {
            "stopId": "275010",
            "parkRideFacilityId": "21",
            "parkRideName": "Penrith (at-grade)"
          },
          {
            "stopId": "275075",
            "parkRideFacilityId": "22",
            "parkRideName": "Penrith (multi-level)"
          },
          {
            "stopId": "275010",
            "parkRideFacilityId": "22",
            "parkRideName": "Penrith (multi-level)"
          },
          {
            "stopId": "221210",
            "parkRideFacilityId": "9",
            "parkRideName": "Revesby"
          },
          {
            "stopId": "221010",
            "parkRideFacilityId": "37",
            "parkRideName": "Riverwood"
          },
          {
            "stopId": "2762106",
            "parkRideFacilityId": "24",
            "parkRideName": "Schofields"
          },
          {
            "stopId": "276220",
            "parkRideFacilityId": "24",
            "parkRideName": "Schofields"
          },
          {
            "stopId": "214732",
            "parkRideFacilityId": "488",
            "parkRideName": "Seven Hills"
          },
          {
            "stopId": "214710",
            "parkRideFacilityId": "488",
            "parkRideName": "Seven Hills"
          },
          {
            "stopId": "276010",
            "parkRideFacilityId": "18",
            "parkRideName": "St Marys"
          },
          {
            "stopId": "223210",
            "parkRideFacilityId": "15",
            "parkRideName": "Sutherland"
          },
          {
            "stopId": "2232126",
            "parkRideFacilityId": "15",
            "parkRideName": "Sutherland"
          },
          {
            "stopId": "2232254",
            "parkRideFacilityId": "15",
            "parkRideName": "Sutherland"
          },
          {
            "stopId": "2155384",
            "parkRideFacilityId": "26",
            "parkRideName": "Tallawong P1"
          },
          {
            "stopId": "2155384",
            "parkRideFacilityId": "27",
            "parkRideName": "Tallawong P2"
          },
          {
            "stopId": "2155384",
            "parkRideFacilityId": "28",
            "parkRideName": "Tallawong P3"
          },
          {
            "stopId": "210120",
            "parkRideFacilityId": "10",
            "parkRideName": "Warriewood"
          },
          {
            "stopId": "217010",
            "parkRideFacilityId": "23",
            "parkRideName": "Warwick Farm"
          },
          {
            "stopId": "211420",
            "parkRideFacilityId": "14",
            "parkRideName": "West Ryde"
          }
        ]
      },
      "whats_on_sydney": {
        "type": "object",
        "title": "Whats_on_sydney",
        "description": "Schema for whats_on_sydney",
        "properties": {
          "0": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "startDate": {
                "type": "string"
              },
              "endDate": {
                "type": "string"
              },
              "disclaimer": {
                "type": "string"
              },
              "imageList": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "type": {
                "type": "string"
              },
              "buttons": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "buttonType": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "buttonType",
                    "label",
                    "url"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "required": [
              "title",
              "description",
              "imageList",
              "type"
            ],
            "additionalProperties": false
          },
          "1": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "startDate": {
                "type": "string"
              },
              "endDate": {
                "type": "string"
              },
              "disclaimer": {
                "type": "string"
              },
              "imageList": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "type": {
                "type": "string"
              },
              "buttons": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "required": [
              "title",
              "description",
              "imageList",
              "type"
            ],
            "additionalProperties": false
          },
          "2": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "startDate": {
                "type": "string"
              },
              "endDate": {
                "type": "string"
              },
              "disclaimer": {
                "type": "string"
              },
              "imageList": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "type": {
                "type": "string"
              },
              "buttons": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "buttonType": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "buttonType"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "required": [
              "title",
              "description",
              "imageList",
              "type"
            ],
            "additionalProperties": false
          },
          "3": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "startDate": {
                "type": "string"
              },
              "endDate": {
                "type": "string"
              },
              "disclaimer": {
                "type": "string"
              },
              "imageList": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "type": {
                "type": "string"
              },
              "buttons": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "buttonType": {
                      "type": "string"
                    },
                    "socialPartnerName": {
                      "type": "string"
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "url"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "buttonType",
                    "socialPartnerName",
                    "links"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "required": [
              "title",
              "description",
              "imageList",
              "type",
              "buttons"
            ],
            "additionalProperties": false
          },
          "4": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "startDate": {
                "type": "string"
              },
              "endDate": {
                "type": "string"
              },
              "disclaimer": {
                "type": "string"
              },
              "imageList": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "type": {
                "type": "string"
              },
              "buttons": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "buttonType": {
                      "type": "string"
                    },
                    "shareUrl": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "buttonType",
                    "shareUrl"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "required": [
              "title",
              "description",
              "imageList",
              "type",
              "buttons"
            ],
            "additionalProperties": false
          },
          "5": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "startDate": {
                "type": "string"
              },
              "endDate": {
                "type": "string"
              },
              "disclaimer": {
                "type": "string"
              },
              "imageList": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "type": {
                "type": "string"
              },
              "buttons": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "buttonType": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "buttonType",
                    "label",
                    "url"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "required": [
              "title",
              "description",
              "imageList",
              "type",
              "buttons"
            ],
            "additionalProperties": false
          },
          "6": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "startDate": {
                "type": "string"
              },
              "endDate": {
                "type": "string"
              },
              "disclaimer": {
                "type": "string"
              },
              "imageList": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "type": {
                "type": "string"
              },
              "buttons": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "buttonType": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "buttonType",
                    "label",
                    "url"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "required": [
              "title",
              "description",
              "imageList",
              "type",
              "buttons"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "0",
          "1",
          "2",
          "3",
          "4",
          "5",
          "6"
        ],
        "additionalProperties": false,
        "example": [
          {
            "title": "Cta only card",
            "description": "This is a sample description for the Discover Card. It can be used to display additional information.",
            "startDate": "2025-12-20",
            "endDate": "2025-12-31",
            "disclaimer": null,
            "imageList": [
              "https://images.unsplash.com/photo-1749751234397-41ee8a7887c2"
            ],
            "type": "Travel",
            "buttons": [
              {
                "buttonType": "Cta",
                "label": "Click Me",
                "url": "https://example.com/cta"
              }
            ]
          },
          {
            "title": "No Buttons Card Title",
            "description": "This is a sample description for the Discover Card. It can be used to display additional information.",
            "startDate": null,
            "endDate": null,
            "disclaimer": "Image Credit: Unsplash",
            "imageList": [
              "https://plus.unsplash.com/premium_photo-1752367225760-34f565f0720f"
            ],
            "type": "Events",
            "buttons": []
          },
          {
            "title": "App Social Card",
            "description": "This is a sample description for the Discover Card. It can be used to display additional information.",
            "startDate": null,
            "endDate": null,
            "disclaimer": null,
            "imageList": [
              "https://plus.unsplash.com/premium_photo-1752624906994-d94727d34c9b"
            ],
            "type": "Travel",
            "buttons": [
              {
                "buttonType": "AppSocial"
              }
            ]
          },
          {
            "title": "Partner Social Card",
            "description": "This is a sample description for the Discover Card. It can be used to display additional information.",
            "startDate": null,
            "endDate": null,
            "disclaimer": null,
            "imageList": [
              "https://plus.unsplash.com/premium_photo-1752624906994-d94727d34c9b"
            ],
            "type": "Events",
            "buttons": [
              {
                "buttonType": "PartnerSocial",
                "socialPartnerName": "XYZ Place",
                "links": [
                  {
                    "type": "Facebook",
                    "url": "https://example.com"
                  }
                ]
              }
            ]
          },
          {
            "title": "Share Only Card",
            "description": "This is a sample description for the Discover Card. It can be used to display additional information.",
            "startDate": null,
            "endDate": null,
            "disclaimer": null,
            "imageList": [
              "https://plus.unsplash.com/premium_photo-1751906599846-2e31345c8014"
            ],
            "type": "Kids",
            "buttons": [
              {
                "buttonType": "Share",
                "shareUrl": "https://example.com/share"
              }
            ]
          },
          {
            "title": "Cta + Share Card",
            "description": "This is a sample description for the Discover Card. It can be used to display additional information.",
            "startDate": null,
            "endDate": null,
            "disclaimer": null,
            "imageList": [
              "https://images.unsplash.com/photo-1752939124510-e444139e6404"
            ],
            "type": "Sports",
            "buttons": [
              {
                "buttonType": "Cta",
                "label": "Click Me",
                "url": "https://example.com/cta"
              },
              {
                "buttonType": "Share",
                "shareUrl": "https://example.com/share"
              }
            ]
          },
          {
            "title": "Feedback Card",
            "description": "This is a sample description for the Discover Card. It can be used to display additional information.",
            "startDate": null,
            "endDate": null,
            "disclaimer": null,
            "imageList": [
              "https://plus.unsplash.com/premium_photo-1752832756659-4dd7c40f5ae7"
            ],
            "type": "Events",
            "buttons": [
              {
                "buttonType": "Feedback",
                "label": "Feedback",
                "url": "https://example.com/feedback"
              }
            ]
          }
        ]
      }
    }
  }
}