openapi: 3.0.3
info:
  title: KRAIL-CONFIG Schema API
  version: 1.0.0
  description: API for accessing KRAIL-CONFIG schemas including festivals and
    notices. Each schema type has its own endpoint for better organization.
servers:
  - url: https://api.krail.app
    description: Production server
paths:
  /festival:
    get:
      summary: Get festival schema
      description: Retrieve the festival schema with structure and examples
      operationId: getFestival
      responses:
        "200":
          description: Successfully retrieved festival schema
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/festival"
        "400":
          description: Bad Request
        "404":
          description: Schema not found
  /notice:
    get:
      summary: Get notice schema
      description: Retrieve the notice schema with structure and examples
      operationId: getNotice
      responses:
        "200":
          description: Successfully retrieved notice schema
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notice"
        "400":
          description: Bad Request
        "404":
          description: Schema not found
  /schemas:
    get:
      summary: List all schemas
      description: Retrieve all available schemas with their structure and examples
      operationId: listAllSchemas
      responses:
        "200":
          description: Successfully retrieved all schemas
          content:
            application/json:
              schema:
                type: object
                properties:
                  festival:
                    $ref: "#/components/schemas/festival"
                  notice:
                    $ref: "#/components/schemas/notice"
        "400":
          description: Bad Request
components:
  schemas:
    festival:
      type: object
      description: Schema for festival
      examples:
        confirmedDates:
          - type: CHRISTMAS
            month: 12
            day: 25
            emojiList:
              - 🎄
              - 🎅
            greeting: Merry Christmas
          - type: NEW_YEAR
            month: 1
            day: 1
            emojiList:
              - 🎉
            greeting: Happy New Year
          - type: NEW_YEAR_EVE
            month: 12
            day: 31
            emojiList:
              - 🎆
            greeting: New Year's Eve
          - type: ANZAC_DAY
            month: 4
            day: 25
            emojiList:
              - 🌺
              - 🇦🇺
              - 🎖️
            greeting: Lest we forget
          - type: HALLOWEEN
            month: 10
            day: 31
            emojiList:
              - 🎃
              - 👻
            greeting: Spooktacular vibes only!
          - type: ROSE_DAY
            month: 2
            day: 7
            emojiList:
              - 🌹
            greeting: Rose Day
          - type: PROPOSE_DAY
            month: 2
            day: 8
            emojiList:
              - 💍
              - 💞
              - 💌
            greeting: Propose Day
          - type: CHOCOLATE_DAY
            month: 2
            day: 9
            emojiList:
              - 🍫
              - 💞
            greeting: Chocolate Day
          - type: TEDDY_DAY
            month: 2
            day: 10
            emojiList:
              - 🧸
            greeting: Teddy Day
          - type: PROMISE_DAY
            month: 2
            day: 11
            emojiList:
              - 🤝
            greeting: Promise Day
          - type: HUG_DAY
            month: 2
            day: 12
            emojiList:
              - 🤗
            greeting: Hug Day
          - type: KISS_DAY
            month: 2
            day: 13
            emojiList:
              - 😘
            greeting: Kiss Day
          - type: VALENTINES_DAY
            month: 2
            day: 14
            emojiList:
              - ❤️
              - 🌹
            greeting: Love is in the air
          - type: AUSTRALIA_DAY
            month: 1
            day: 26
            emojiList:
              - 🇦🇺
              - 🎉
              - 🎆
            greeting: Australia Day
          - type: WOMENS_DAY
            month: 3
            day: 8
            emojiList:
              - 💜
              - ♀️
              - 👩
              - 👩‍🚀
              - 👩‍🚒
              - 👩‍✈️
            greeting: International Women's Day
          - type: MENS_DAY
            month: 11
            day: 19
            emojiList:
              - 💙
              - ♂️
              - 🚹
              - 👨‍🚒
              - 👨‍🌾
              - 👨‍🚀
            greeting: International Men's Day
          - type: ENGINEERS_DAY
            month: 9
            day: 15
            emojiList:
              - ⚙️
              - 🔧
            greeting: Engineers Day
          - type: NURSES_DAY
            month: 5
            day: 12
            emojiList:
              - 🏥
              - 🩺
            greeting: Nurses Day
          - type: FRIENDSHIP_DAY
            month: 8
            day: 3
            emojiList:
              - 🤝
              - 💛
            greeting: Friendship Day
          - type: PEACE_DAY
            month: 9
            day: 21
            emojiList:
              - ☮️
              - ✌️
            greeting: International Peace Day
          - type: A11Y_DAY
            month: 5
            day: 16
            emojiList:
              - ♿️
            greeting: Global Accessibility Awareness Day
          - type: PI_DAY
            month: 3
            day: 14
            emojiList:
              - 🥧
              - π
            greeting: Pi Day
          - type: INTERNATIONAL_YOGA_DAY
            month: 6
            day: 21
            emojiList:
              - 🧘
              - 🧘‍♀️
              - 🧘‍♂️
              - 🕉️
            greeting: International Yoga Day
          - type: WORLD_ENVIRONMENT_DAY
            month: 6
            day: 5
            emojiList:
              - 🌍
              - 🌱
              - 🌳
            greeting: World Environment Day
          - type: MENTAL_HEALTH_DAY
            month: 10
            day: 10
            emojiList:
              - 🧠
            greeting: World Mental Health Day
          - type: WORLD_OCEANS_DAY
            month: 6
            day: 8
            emojiList:
              - 🌊
              - 🐬
              - 🐠
            greeting: World Oceans Day
          - type: STAR_WARS_DAY
            month: 5
            day: 4
            emojiList:
              - 🌌
              - 🚀
              - ⚔️
              - 🪐
            greeting: May the Force Ride With You
          - type: MARIO_DAY
            month: 3
            day: 10
            emojiList:
              - 🍄
              - 🎮
            greeting: It's-a me, Mario! Let's-a go! 🍄
          - type: HOBBIT_DAY
            month: 9
            day: 22
            emojiList:
              - 🧙
              - 🍄
              - 🌋
            greeting: Happy Hobbit Day
          - type: HARRY_POTTER_DAY
            month: 5
            day: 2
            emojiList:
              - 🪄
              - 🧙‍♂️
              - ⚡️
            greeting: Hop on Platform 9¾ — Magic Awaits!
          - type: POKEMON_DAY
            month: 2
            day: 27
            emojiList:
              - 🎮
              - 🧢
              - ⚡️
            greeting: Gotta Catch 'Em All
          - type: BARBIE_DAY
            month: 3
            day: 9
            emojiList:
              - 👠
              - 💖
              - 👗
              - 🎀
            greeting: Be anything. Go everywhere. 💖
          - type: TEACHERS_DAY
            month: 9
            day: 5
            emojiList:
              - 👩‍🏫
              - 👨‍🏫
              - 📚
            greeting: Happy Teachers' Day
          - type: WORLD_EMOJI_DAY
            month: 7
            day: 17
            emojiList:
              - 😎
              - 🤩
              - 🔥
            greeting: World Emoji Day
          - type: INTERNATIONAL_CAT_DAY
            month: 8
            day: 8
            emojiList:
              - 😸
              - 😻
            greeting: Purrfect day to ride
          - type: INTERNATIONAL_DOG_DAY
            month: 8
            day: 26
            emojiList:
              - 🐶
              - 🐾
              - 🦴
            greeting: International Dog Day
          - type: TAYLOR_SWIFT_DAY
            month: 12
            day: 13
            emojiList:
              - 🎤
              - 🎶
              - 🩷
            greeting: Happy Taylor Swift Day
        variableDates:
          - type: EASTER
            startDate: 2026-04-05
            endDate: 2026-04-05
            emojiList:
              - 🐰
              - 🐣
              - 🥚
            greeting: Happy Easter
          - type: EID
            startDate: 2026-03-19
            endDate: 2026-03-20
            emojiList:
              - 🌙
              - 🕌
            greeting: Eid Mubarak!
          - type: CHINESE_NEW_YEAR
            startDate: 2026-02-17
            endDate: 2026-03-03
            emojiList:
              - 🧧
            greeting: Chinese New Year
          - type: VIVID_SYDNEY
            startDate: 2026-05-22
            endDate: 2026-06-13
            emojiList:
              - 🎆
              - 🌈
              - 🌟
              - ✨
            greeting: Vivid Sydney
          - type: MARDI_GRAS
            startDate: 2026-02-13
            endDate: 2026-03-01
            emojiList:
              - 🏳️‍🌈
              - 🪩
              - 🌈
            greeting: Happy Mardi Gras
          - type: NAIDOC_WEEK
            startDate: 2025-07-06
            endDate: 2025-07-13
            emojiList:
              - 🖤
              - 💛
              - ❤️
            greeting: NAIDOC Week
          - type: HOLI
            startDate: 2025-03-14
            endDate: 2025-03-14
            emojiList:
              - 🌈
              - 🫧
              - 🎈
            greeting: Happy Holi
          - type: MELBOURNE_CUP
            startDate: 2025-11-04
            endDate: 2025-11-04
            emojiList:
              - 🐎
              - 💸
            greeting: Melbourne Cup Day
          - type: RECONCILIATION_WEEK
            startDate: 2026-05-27
            endDate: 2026-06-03
            emojiList:
              - 🪃
              - 🖤
              - 💛
              - ❤️
            greeting: Reconciliation Week
      properties:
        confirmedDates:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              month:
                type: integer
              day:
                type: integer
              emojiList:
                type: array
                items:
                  type: string
              greeting:
                type: string
        variableDates:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              startDate:
                type: string
                format: date
              endDate:
                type: string
                format: date
              emojiList:
                type: array
                items:
                  type: string
              greeting:
                type: string
    notice:
      type: object
      description: Schema for notice
      examples:
        noticeList:
          - title: Card Title
            description: Card description goes here.
            imageUrl: https://example.com/image.jpg
            buttons:
              - type: CTA
                text: Learn More
                url: https://example.com/learn
              - type: SHARE
                url: https://example.com/share
          - title: Card with Feedback
            description: Feedback example.
            imageUrl: https://example.com/image2.jpg
            buttons:
              - type: FEEDBACK
          - title: Card with Social
            description: Social example.
            imageUrl: https://example.com/image3.jpg
            buttons:
              - type: SOCIAL
          - title: Card Title
            description: Card description goes here.
            imageUrl: https://example.com/image.jpg
            buttons:
              - type: CTA
                text: Learn More
                url: https://example.com/learn
          - title: Card Title
            description: Card description goes here.
            imageUrl: https://example.com/image.jpg
      properties:
        noticeList:
          type: array
          items:
            type: object
            properties:
              title:
                type: string
              description:
                type: string
              imageUrl:
                type: string
                format: uri
              buttons:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                    text:
                      type: string
                    url:
                      type: string
                      format: uri
